<div class="jumbotron">
  <h1>{{"views.main.form.title" | translate}}</h1>
  <P>{{"views.main.form.message" | translate}}</P>
  <p class="lead">
    <img src="images/login.png" width="15%" alt="I'm Yeoman"><br>
  </p>
  <div class="form-group">
      <label for="usr">{{"views.main.form.username" | translate}}:</label>
      <input type="text" class="form-control" id="usr">
    </div>
    <div class="form-group">
      <label for="pwd">{{"views.main.form.password" | translate}}:</label>
      <input type="password" class="form-control" id="pwd">
    </div>
  <p><a class="btn btn-lg btn-success" ng-href="#/">{{"views.main.form.button" | translate}}<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>{{"views.main.body.title" | translate}}:</h4>
  <p>- {{"views.main.body.message_1" | translate}}.</p>
  <p>- {{"views.main.body.message_2" | translate}}.</p>
  <p>- {{"views.main.body.message_3" | translate}}</p>
</div>